.container-quem-somos p{
    font-size: 1em;
    text-align: justify;
    margin-top: 4vh;
}

.container-quem-somos{
    display: flex;
    align-items: center;
    color: black;   
}

.texto-quem-somos{
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgb(188, 31, 36, 0.5);
    padding: 3vw;
    border-radius: 0.5vw;
    margin-left: 4vw;
    margin-right: 4vw;
}
.texto-quem-somos p{
    color: #757779;
    font-style: italic;
}

.texto-quem-somos span{
    font-weight: bold;;
}

.imagem-quem-somos{
    object-fit: cover;
}