.slide-item{
    width: 100%;
    object-fit: cover;
    height: 100vh;

}

.slide-container{
    margin-bottom: 2em;
    z-index: -1;
}

@media (max-width:768px) {
    .slide-item{
        height: 60%;
        object-fit: cover;
    }
}