.container-footer{
    display: flex;
    align-items:start;
    justify-content: space-between;
    flex-direction: row;
    margin: 1em;
}

.contato p{
    color: #8f8f8f;
    padding: 0.2em;
}

.endereco p{
    color: #8f8f8f;
    margin-top: 1em;
}

.nossas-redes{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.insta{
    padding-left: 1.5em;
}

.logo img{
    width: 20em;
}
